<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./src/css/reset.min.css"> -->
    <link rel="stylesheet" href="./src/css/mydialog.css">
</head>

<body>
    <button type="button">测试</button>
    <script type="text/template" id="dialogTpl">
        <div class="black-overlay">
          <div class="mydialog">
                <span class="close">×</span>
                <div class="mydialog-header">提示信息</div>
                <div class="mydialog-cont">
                    <% if(this.input){ %>
                        <div class="cont">
                            <input type="text" value="<% this.input_text %>">
                        </div>
                    <% } else{ %>
                        <div class="cont">
                            <% this.content %>
                        </div>
                    <% } %>


                </div>
                <div class="mydialog-footer">
                    <% if(this.cancel){ %>
                        <span class="btn btn-ok"><% this.ok_txt %></span>
                        <span class="btn btn-cancel"><% this.cancel_txt %></span>
                    <% } else{ %>
                        <span class="btn btn-ok" style="width: 100%"><% this.ok_txt %></span>
                    <% } %>
                </div>
            </div>  
        </div>
        
    </script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <script src="./src/js/mydialog.js"></script>
    <script>
        var mydialog = new MyDialog({
            tmpId: 'dialogTpl',
            content: 'hello world!', // 提示内容
            confirm: function(){
                console.log('我是confirm按钮');
                // 写你的确定之后的逻辑代码...
            },
            close: function () {
                console.log('我是close按钮');
                // 写你的确定之后的逻辑代码...
            },
            cancel: function () {
                console.log('我是cancel按钮');
                // 写你的确定之后的逻辑代码...
            }
        });
        // mydialog.on('cancel', function(ev) {
        //     console.log('you click confirm!');
        //     // 写你的确定之后的逻辑代码...
        // });
        $('button').click(function(){
            mydialog.show();
        })
        
    </script>

</body>

</html>