.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  overflow: hidden;
  clear: both;
}
.row {
  zoom: 1;
}
.row:after {
  content: "";
  display: block;
  overflow: hidden;
  clear: both;
}
.col {
  width: 80px;
  height: 40px;
  border: 1px solid #000;
  float: left;
}
.container {
  margin: 1rem auto;
  width: 16rem;
  height: 10rem;
  line-height: 0;
  font-size: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 500px;
          perspective: 500px;
}
.container div {
  background-image: url("../img/1490073118356.jpg");
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.img {
  width: 5rem;
  margin: auto;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.img img {
  width: 100%;
}
.btnCtrl {
  margin: auto;
  width: 16rem;
  text-align: center;
}
