html,
body {
  width: 100%;
  margin: auto;
}
html {
  font-size: 12px;
}
.box {
  width: 100%;
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#333));
  background: -webkit-linear-gradient(top, #fff, #333);
  background: -o-linear-gradient(top, #fff, #333);
  background: linear-gradient(to bottom, #fff, #333);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inner img {
  width: 100%;
}
